name: Deploy CI

on:
  push:
    branches: 
      - master

jobs:
  deploy:
    name: Deploy job
    runs-on: ubuntu-latest

    steps:
    - name: Checkout hexo-blog
      uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Build
      run: |
        npm install
        npm run build
        cp CNAME public
    - name: Publish
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: git@github.com:mecoepcoo/mecoepcoo.github.io.git
        BRANCH: master
        FOLDER: public
        SSH_PRIVATE_KEY: ${{ secrets.GH_TOKEN }}

