name: Deploy CI

on:
  push:
    branches: 
      - master

jobs:
  deploy:
    name: Deploy job
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: npm install, build
      run: |
        npm install
        npm run build
        ls
    - name: deploy site
      env:
        CI: true
        ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
        public: public
      run: |
        apt-get update
        apt-get install -y git
        cd public
        git init
        git add .
        git commit -m "deploy"
        git push --force --quiet "https://${ACCESS_TOKEN}@github.com/mecoepcoo/mecoepcoo.github.com.git" origin master
