name: Deploy CI

on:
  push:
    branches: 
      - master

jobs:
  deploy:
    name: Deploy job
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: npm install, build
      run: |
        npm install
        npm run build
    - name: deploy site
      env:
        CI: true
        PUBLIC: public
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        cd $PUBLIC
        git init
        git config --global user.email "340349237@qq.com"
        git config --global user.name "mecoepcoo"
        git add .
        git commit -m "deploy"
        git remote add origin https://github.com/mecoepcoo/mecoepcoo.github.com.git
        git push -f "https://${GH_TOKEN}@github.com/mecoepcoo/mecoepcoo.github.io.git" master:master
